    <footer>
      <small>&copy; 2023 - Stream Theater - Created by Levi Marquardt</small><br>
      <small><a href="mailto:lmarquardt7@student.cvtc.edu">lmarquardt7@student.cvtc.edu</a></small>
    </footer>
	</div>
  </body>
</html>
