    <footer>
      &copy; 2023 - Stream Theater - Created by Levi Marquardt<br>
      <a href="mailto:lmarquardt7@student.cvtc.edu">lmarquardt7@student.cvtc.edu</a>
    </footer>
	</div>
  </body>
</html>
