<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stream Theater</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/site.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body id="body">
  <header>
    <h1>Stream Theater</h1>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/list'>List of Movies</a></li>
        <li><a href='/search'>Search for Movies</a></li>
        <li><a href='/login'>Create Profile</a></li>
      </ul>
    </nav>
  </header>