body {
  background-image: url('curtains2.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 1090px;
}

header h1 {
    margin-left: 3.75em;
    font-size: 70px;
    color: antiquewhite;
}

main {
  background: rgba(19, 2, 75, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: #FFF;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  font-family: Helvetica, sans-serif;
  margin: 10px auto;
  width: 1090px;
  
}

h2{
    margin: 2em;
    width: 100%;
}

 p {
  margin: 20px;
}

/* Menu Styles */

nav {
  margin: 10px auto;
  width: 1090px;
  
}

nav ul li a {
  margin: 10px 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  background-color: rgba(19, 2, 75, 0.6);
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #FFF;
  padding: 0 20px;
  font-size: 125%;
  display: block;
    
}

nav ul a:hover {
  background-color: #8A0000;
  border-color: rgba(19, 2, 75, 0.8);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
}

p {
  margin: 20px;
}

h4 {
  margin: 20px;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form, #addFav-form, #searchFavs-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder, .addFav-form-field::placeholder, .searchFavs-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field, .addFav-form-field, .searchFavs-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit, #addFav-form-submit, #searchFavs-form-submit {
  width: 15%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

#loginForm, #addFavForm, #searchFavsForm {
  margin: auto;
  margin-bottom: 25px;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

footer {

  border-color: #FFF;
  border-width: 1px;
  border-style: none;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  color: #FFF;
  border-top: 1px solid;
}
