<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Stream Theater - Alleviate the stress of finding the perfect movie for movie night!</h2>
    <div id="Recommended">
      <h3> This month's reccomended movies! March's Theme - Tech Talkies!</h3>
        <img src="images/Hackers.jpg" alt="Hackers" height="400" width="300">
        <img src="images/jobs.jpg" alt="Jobs" height="400" width="300">
        <img src="images/socialnetwork.jpg" alt="Social Network" height="400" width="300">
    
    </div>
    <div id="HowToUse">
      <h3>How to use Stream Theater</h3>
        <p>
            When it comes to movie night, Stream Theater is your go to website! Start by finding a movie you want to watch. View our list of movies, 
            search for some of your favorite movies, or view some of our audience members favorite movies. Once you decide on a movie, navigate to one
            of the streaming services below that have that movie for you to watch by simply clicking on the pictures below. Then, simply grab some popcorn 
            and watch your movie. If the movie you
            picked becomes one of your new favorites, add it to the community favorites so others can experience it's awesomeness as well! Don't forget
            to create your own profile for the best Stream Theater experience!
        </p>
    
    </div>
    
      <h3>Check out these Streaming Services!</h3>
      <div id="Service">
        <a href="https://www.netflix.com/"><img src="images/netflix-symbol-black.png" 
            alt="Netflix" height="160" width="200"></a>
        <a href="https://www.hulu.com/welcome?orig_referrer=https%3A%2F%2Fwww.google.com%2F"><img src="images/hulu.jpg" 
            alt="Hulu" height="160" width="200"></a>
        <a href="https://www.disneyplus.com/?cid=DSS-Search-Google-71700000070655584-&s_kwcid=AL!8468!3!610598193342!e!!g!!disney%20plus&gclid=EAIaIQobChMIoqKA8-zf_QIV5f7jBx3sbQ-aEAAYASAAEgL55_D_BwE&gclsrc=aw.ds"><img src="images/disney.png" 
            alt="Disney+" height="160" width="200"></a>
        <a href="https://www.amazon.com/Prime-Video/b?node=2676882011"><img src="images/amazon.png" 
            alt="Amazon Prime Video" height="160" width="200"></a>
    </div>
    
    <%- include('../shared/footer.ejs') %>
  </main>
