<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Stream Theater's Create User Page</h2>
      
      <div id="loginForm">
      
          <h3 id="login-header">New Audience Member</h3>

        <form id="login-form">
          <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
          <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
          <input type="text" name="firstName" id="firstName-field" class="login-form-field" placeholder="First Name">
          <input type="text" name="LastName" id="lastName-field" class="login-form-field" placeholder="Last Name">
          <input type="submit" value="Login" id="login-form-submit">
        </form>
    </div>
  </main>
  <script>
      
      const main = document.querySelector('main')
      
      const username = document.getElementById('username-field')
      const password = document.getElementById('password-field')
      const firstName = document.getElementById('firstName-field')
      const lastName = document.getElementById('lastName-field')
      const submitButton = document.getElementById('login-form-submit')
      
      
      
      
      
const submit = async function () {


  main.innerHTML = '<h1>Please wait</h1>'

  
  const user = username.value
  const pass = password.value
  const first = firstName.value
  const last = lastName.value

  const data = {
    username: user,
    password: pass,
    firstName: first,
    lastName: last
  }
  
    const response = await fetch('/user', {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })

  if (response.ok) {
    const result = await response.json()
    if (result.ok) {
      main.innerHTML = `<h1>Success! Thank you for creating a profile, ${first}!</h1>`
      return
    }
  }

  main.innerHTML = '<h1>Server error</h1>'

// End of your code ////////////////////////////////////////
}
submitButton.addEventListener('click', (e) => submit())

  </script>
</body>
</html>