<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Stream Theater's Search Page</h2>
      
      <div id="searchForm">
      
          <h3 id="search-header">Search for Movies by Title</h3>

        <div id="search-form">
          <input type="text" name="title" id="title-field" class="search-form-field" placeholder="Movie Title">

            <button id="search-form-submit">Search</button>
        </div>
    </div>
    <div id="displayResults">
      <h3>Results will display here!</h3>
    </div>
        <%- include('../shared/footer.ejs') %>
    </main>
    <script>
 
        const resultsDisplay = document.getElementById('displayResults')
        const title = document.getElementById('title-field')
        const submitButton = document.getElementById('search-form-submit')
        
        
        const submit = async function () {

          resultsDisplay.innerHTML = '<h1>Searching...</h1>'
          

          const data = {
            title: title.value 
          }

          const response = await fetch('/searchTitle', {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          
          
        
          
          if (response.ok) {
            const result = await response.json()
            if (result.Title && result.Year && result.Rated && result.Runtime && result.Genre && result.Director && result.Actors && result.Plot) {
              resultsDisplay.innerHTML = `<div id="results"><h2>Your Search Results</h2><table><tr><th>Title</th><th>Year</th><th>Rated</th><th>Runtime</th><th>Genre</th><th>Director</th><th>Actors</th><th>Plot</th></tr><tr><td>${result.Title}</td><td>${result.Year}</td><td>${result.Rated}</td><td>${result.Runtime}</td><td>${result.Genre}</td><td>${result.Director}</td><td>${result.Actors}</td><td>${result.Plot}</td></tr></table></div>`
              return
            }
          }

          resultsDisplay.innerHTML = '<h1>Search Error: Make sure your Movie is spelled correctly!</h1>'
        
        }
        
        submitButton.addEventListener('click', submit.bind(null))

    

    </script>
