<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Stream Theater's Search Page</h2>
      
      <div id="searchForm">
      
          <h3 id="search-header">Search for Movies by Title</h3>

        <form id="search-form">
          <input type="text" name="title" id="title-field" class="search-form-field" placeholder="Movie Title">

          <input type="submit" value="Search" id="search-form-submit">
        </form>
    </div>
    <div id="displayResults">
      <h3>Results go here!</h3>
    </div>
        <%- include('../shared/footer.ejs') %>
    </main>
    <script>
 
        const resultsDisplay = document.getElementById('displayResults')
        const title = document.getElementById('title-field')
        const submitButton = document.getElementById('search-form-submit')
        
        
        const submit = async function () {

          resultsDisplay.innerHTML = '<h1>Searching...</h1>'
          

          const data = {
            title: title.value 
          }

          const response = await fetch('/searchTitle', {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          
          

          if (response.ok) {
            const result = await response.json()
            if (result.ok) {
              resultsDisplay.innerHTML = 'Results found'
              return
            }
          }

          resultsDisplay.innerHTML = '<h1>Connection Error</h1>'
        
        }
        
        submitButton.addEventListener('click', (e) => submit())

    

    </script>
