<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Stream Theater's Services Page</h2>
      
      <div id="searchForm">
      
          <h3 id="search-header">Search to See Where You Can Watch Your Movie!</h3>

        <div id="search-form">
          <input type="text" name="id" id="id-field" class="search-form-field" placeholder="Movie ID">

            <button id="search-form-submit">Search</button>
        </div>
    </div>
    <div id="displayResults">
      <h3>Results will display here!</h3>
    </div>
        <%- include('../shared/footer.ejs') %>
    </main>
    <script>
 
        const resultsDisplay = document.getElementById('displayResults')
        const id = document.getElementById('id-field')
        const submitButton = document.getElementById('search-form-submit')
        
        
        const submit = async function () {

          resultsDisplay.innerHTML = '<h1>Searching...</h1>'
          

          const data = {
            id: id.value 
          }

          const response = await fetch('/searchServices', {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          
          if (response.ok) {
            const result = await response.json()
            if (result.name1 && result.name2 && result.name3) {
                
              resultsDisplay.innerHTML = `<div id="serviceResult"> The top 3 Streaming Services to watch your movie are: <br> 1. ${result.name1} <br> 2. ${result.name2}<br> 3.${result.name3}`
              return
            }
          }

          resultsDisplay.innerHTML = '<h1>Search Error: Make sure you enter a valid Movie ID!</h1>'
        
        }
        
        submitButton.addEventListener('click', submit.bind(null))
    </script>